{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Test Results Exporter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid py-4">

    <h1>DB Test Results Exporter</h1>

    <div class="jumbotron my-4">
        <h1>{{ request.session.suite_name }}</h1>
        <p class="lead">Time slot: {{ request.session.date_from }} - {{ request.session.date_to }}</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'export' %}" role="button">To main page</a>
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'select_suite_name' %}" role="button">Previous
            page</a>
    </div>

    {% render_table table %}
</div>
</body>
</html>